<h2>Basic Card</h2>
  <div class="card">
    <div class="card-body">
            <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="firstname" class="form-control" [(ngModel)]="user.first_name" id="firstname" placeholder="Enter firstname" name="firstname">
                </div>  
                <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input type="lastname" class="form-control" [(ngModel)]="user.last_name" id="lastname" placeholder="Enter lastname" name="lastname">
                </div>  
              <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username" [(ngModel)]="user.username" placeholder="Enter username" name="username">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="user.password" placeholder="Enter password" name="password">
              </div>

              <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" placeholder="Enter email" name="email">
                </div>  

                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="phone" class="form-control" id="phone" [(ngModel)]="user.phone_no" placeholder="Enter phone" name="phone">
                </div>  
                
                <button type="button" (click)="save()" class="col-12 btn btn-primary">Save</button>
    </div>
  </div>